{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="loggedText">
            <div class="loggedf">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>

            <div class="loggedf">
                <a href="utilisateur/{{ id }}/edit">Éditer le profil</a>
            </div>
        </div>
    {% endif %}




{% endblock %}
