.header {
    display: flex;
    justify-content: center;
    background: #ff8282;
    margin: 0%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f57575;
}

.featuredProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}