{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default("S'inscrire") }}</button>
{{ form_end(form) }}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if(window.location.href.indexOf("new") > -1) {
            document.querySelector("input[name = 'utilisateur[nom]']").value = '';
            document.querySelector("input[name = 'utilisateur[prenom]']").value = '';
            document.querySelector("input[name = 'utilisateur[adresse]']").value = '';
        }

});


</script>

{% endblock %}