{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1 class ="centered">Profil</h1>
    <div class="loggedText">
        {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}





    </div>
    <div class="bcentered">
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>


    {% block javascript %}

    <script type="text/javascript">

        document.getElementById('utilisateur_password').type =  'password';


    </script>

    {% endblock %}
{% endblock %}
