{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}



    {{ include('utilisateur/_delete_form.html.twig') }}

    {% block javascript %}

    <script type="text/javascript">

        document.getElementById('utilisateur_password').type =  'password';


    </script>

    {% endblock %}
{% endblock %}
