{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <div class="reg-page">
        <h1>Inscription</h1>

        {{ include('utilisateur/_form.html.twig') }}


    </div>


    {% block javascript %}

    <script type="text/javascript">

        document.getElementById('utilisateur_password').type =  'password';

    </script>

    {% endblock %}

{% endblock %}
