<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('Views/test.css') }}>
        {% endblock %}

    </head>
    <header>
        {% block header %}
            <div class="header">
                <h1>FastSushi</h1>
                <div class="logo">
                    <img id="shoppingCart" src={{ asset('images/shopping-cart.png') }} width='45' heigth="45">
                </div>
            </div>
            <div class="menu">
                <div class="categories">Entrées</div>
                <div class="categories">Plats</div>
                <div class="categories">Desserts</div>
            </div>
        {% endblock %}
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
