<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('Views/test.css') }}>
        {% endblock %}

    </head>
    <header>
        {% block header %}
            <div class="header">
                <div class="headerwrap">
                    <h1>FastSushi</h1>

                </div>
                <div class="logo">
                    <img id="shoppingCart" src={{ asset('images/shopping-cart.png') }} width='35' heigth="35">
                </div>
            </div>

            <nav class="menu">
                <div class="categories">Entrées</div>
                <div class="categories">Plats</div>
                <div class="categories">Desserts</div>
            </nav>
        {% endblock %}
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
