{# templates/test.html.twig #}

<head>
    <meta charset = "UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('Views/test.css') }}>
    {% endblock %}
</head>

<header>
    <div class="header">
            <h1>FastSushi</h1>
    </div>
    <div class="menu">
        <div class="categories">Entrées</div>
        <div class="categories">Plats</div>
        <div class="categories">Desserts</div>
    </div>
    <div class="featuredProducts">
        <h2>Produits phares</h2>
        <div class="productsDisp">

        </div>
    </div>
</header>
<body>
    {% block body %}
    <h1>{{ testvar }}</h1>
    {% endblock %}
</body>